.FacilitationPerple {
  position: absolute;
  bottom: -60px;
}

.worker {
  padding-top: 0px !important;
}

@media only screen and (max-width: 768px){

  .FacilitationPerple{
    display: none;
  }
  .worker{
    display: flex;
    justify-content: center;
  }
}